body {
    padding: 0;
    margin: 0;

    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #0d3351;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    min-width: 290px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.section-title {
    font-family: "Roboto Slab", sans-serif;
    font-size: 36px;
    line-height: 48px;
}

.button {
    display: inline-block;
    padding: 15px 45px;
    background: #33c7fd;

    line-height: normal;
    color: white;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background: #13b0e9;
}

.button:active {
    background: #64d6ff;
}

.hit {
    position: relative;
}

.promotion {
    position: relative;
}

.hit::after, .promotion::after {
    content: "";

    position: absolute;
    right: 45px;
    top: -7px;

    border: 44px solid #33c7fd;
    width: 0;
    height: 40px;
    border-bottom: 21px solid transparent;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.promotion::after {
    border: 44px solid #f20542;
    border-bottom: 21px solid transparent;
}

.hit::before, .promotion::before {
    content: "Хит продаж";

    position: absolute;
    right: 48px;

    width: 80px;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    z-index: 3;
}

.promotion::before {
    content: "Акция";
    top: 7px;
}

.main-header {
    background: url("../img/body-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #f3f3f3;
}

.header-inner {
    min-height: 100vh;
}

.main-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 30px;
}

.header-menu-list {
    display: flex;

    list-style: none;
    margin: 0;
}

.header-menu-item {
    padding: 0;
    margin-right: 35px;
}

.header-menu-item a {
    text-decoration: none;
    color: #0d3351;
}

.user-navigation {
    display: flex;
    align-items: center;
}

.profile {
    margin: 0 65px 0 auto;

    position: relative;
}

.profile::before {
    content: "";

    width: 10px;
    height: 12px;
    background: url("../img/user.png") no-repeat center;

    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.profile::after, .currency::after, .language::after {
    content: "";

    width: 0;
    height: 0;
    border-top: 6px solid #0d3351;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;

    position: absolute;
    right: -18px;
    top: 50%;
    transform: translateY(-50%);
}

.currency {
    margin: 0 65px 0 0;
    position: relative;
}

.language {
    margin: 0 65px 0 0;
    position: relative;
}

.phone-column {
    display: flex;
    flex-direction: column;

    padding-top: 10px;
}

.phone-column .phone {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    color: #0d3351;
    text-decoration: none;
}

.phone-column p {
    margin: -3px 0 0 0;

    font-size: 10px;
}

.promo {
    text-align: center;

}

.promo-title {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.promo-title span {
    font-family: "Roboto Slab", sans-serif;
    font-size: 100px;
    line-height: 155px;
    letter-spacing: 0;
    text-transform: uppercase;
}

.promo-button {
    margin-top: -10px;
}

.catalog {
    padding-top: 70px;
}

.catalog-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-title {
    margin: 0;
}

.sort {
    margin: 7px 0 0 0;
    font-style: italic;
    position: relative;
}

.sort::after {
    content: "";

    width: 0;
    height: 0;
    border-top: 6px solid #0d3351;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;

    position: absolute;
    right: -18px;
    top: 50%;
    transform: translateY(-50%);
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 29px;

    list-style: none;
    margin: 42px 0 0;
    padding: 0;
}

.catalog-item {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;

    min-height: 304px;
    background: white;
}

.catalog-item-big {
    grid-row: span 2;
}

.catalog-item img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.catalog-item-img-big-row,
.catalog-item-img-row {
    align-self: stretch;
}

.catalog-item-text-row {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 37.5px;
}

.tour-information {
    margin: 15px 0 15px 0;
    padding: 0;
}

.tour-information-item {
    display: flex;
}

.catalog-item-title {
    display: inline-block;
    font-size: 18px;
    color: #00a2dd;

    margin: 15px 0 0 0;
    position: relative;
}

.catalog-item-title::after {
    content: "";

    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-left: 6px solid #33c7fd;
    border-bottom: 4px solid transparent;

    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.tour-information-item dt {
    margin: 0 5px 0 0;
    padding: 0;

    font-weight: bold;

}

.tour-information-item dd {
    margin: 0;
    padding: 0;
}

.price-row {
    display: flex;
    margin: 0 0 35px 0;
}

.catalog-item .price {
    font-family: "Roboto Slab", sans-serif;
    font-size: 30px;
    margin: 0 25px 0 0;
}

.catalog-item .previous-price {
    margin: 0;

    font-size: 18px;
    opacity: 0.55;
    text-decoration: line-through;
}

.button-wrapper {
    text-align: center;
}

.catalog-button {
    margin: 26px 0 0 0;
    position: relative;
}

.catalog-button::after {
    content: "";

    width: 0;
    height: 0;
    border-top: 6px solid white;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;

    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.gallery {
    padding-top: 80px;
    padding-bottom: 75px;
}

.gallery-title {
    text-align: center;
    margin-bottom: 40px;
}

.gallery-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    list-style: none;
    margin: 0;
    padding: 0;
}

.gallery-list img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item-big {
    grid-column: span 2;
}


.reviews {
    padding-bottom: 60px;
}

.reviews-title {
    text-align: center;
    margin-bottom: 60px;
}

.reviews-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    list-style: none;
    margin: 0 0 40px 0;
    padding: 0;
}

.reviews-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-basis: calc(100% / 3 - 20px);
    background: white;
}

.reviews-item img {
    width: 100%;
}

.reviews-item blockquote {
    padding: 30px 37px 28px;
    margin: 0;
}

.reviews-item cite {
    font-family: "Roboto Slab", sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #00a2dd;
}

.reviews-item-tour {
    opacity: 0.5;
}

.main-footer {
    padding-top: 30px;
    padding-bottom: 40px;
    background: white;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-menu-list {
    display: flex;
    flex-direction: column;

    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-menu-item a {
    text-decoration: none;
    color: #0d3351;
}

.socials {
    display: flex;
    flex-direction: column;

    margin-right: auto;
    margin-left: 140px;
}

.socials p {
    margin: 0 0 7px 0;
}

.socials-list {
    display: flex;

    list-style: none;
    margin: 0;
    padding: 0;
}

.socials-item {
    width: 30px;
    height: 30px;
    font-size: 0;
    margin-right: 10px;
    border-radius: 50%;


}

.socials-vk {
    background: #0d3351 url("../img/vk.png") no-repeat center;
    background-size: 18px 11px;
}

.socials-od {
    background: #0d3351 url("../img/ok.png") no-repeat center;
    background-size: 10px 16px;
}

.socials-yt {
    background: #0d3351 url("../img/yt.png") no-repeat center;
    background-size: 14px 18px;
}

.socials-inst {
    background: #0d3351 url("../img/insta.png") no-repeat center;
    background-size: 14px 14px;
}

.support p {
    margin: 0;
}

.support .phone {
    font-size: 16px;
    font-weight: bold;
}

.support-text {
    font-size: 10px;
}

@media (max-width: 1090px) {
    .main-nav-wrapper {
        flex-direction: column;
        justify-content: flex-start;
    }

    .header-menu-item:last-child {
        margin-right: 0;
    }

    .language {
        margin-right: 0;
    }

    .main-nav-wrapper div:not(:last-of-type),
    .main-nav-wrapper ul {
        margin-bottom: 15px;
    }

    .promo-title span {
        font-size: 84px;
        line-height: 120px;
    }
}

@media (max-width: 1000px) {
    .catalog-item img {
        min-height: 115px;
    }

    .reviews-item {
        flex-basis: calc(100% / 2 - 15px);
    }
}

@media (max-width: 940px) {

    .promo-title span {
        font-size: 60px;
        line-height: 95px;
    }

    .catalog-item-big {
        grid-row: span 1;
    }

    .catalog-item-big img {
        max-height: 115px;
    }

    .catalog-item-title {
        font-size: 15px;
    }

    .tour-information {
        font-size: 12px;
    }

    .catalog-item .price {
        font-size: 21px;
    }

    .hit::before, .promotion::before {
        font-size: 11px;
    }
}

@media (max-width: 800px) {
    .gallery-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery-item-big {
        grid-column: span 1;
    }
}

@media (max-width: 750px) {
    .socials {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 700px) {
    .section-title {
        font-size: 30px;
    }

    .catalog-list {
        grid-template-columns: 1fr;
    }

    .catalog-item {
        align-items: flex-start;
    }

    .catalog-item-text-row {
        padding: 15px 21px;
    }

    .catalog-item img {
        min-height: 150px;
    }

    .reviews-item {
        flex-basis: 100%;
    }

    .catalog-item-title::after {
        display: none;
    }

    .footer-wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .footer-wrapper > div, .footer-wrapper > ul  {
        margin-bottom: 25px;
    }
    
    .support {
        text-align: center;
    }
}

@media (max-width: 550px) {
    .gallery-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 470px) {
    .main-nav-wrapper {
        font-size: 13px;
        line-height: 15px;
    }

    .promo-title {
        font-size: 24px;
    }

    .promo-title span {
        font-size: 35px;
        line-height: 56px;
    }
}

@media (max-width: 400px) {
    .section-title {
        font-size: 26px;
    }

    .main-nav-wrapper {
        font-size: 11px;
        line-height: 13px;
    }

    .profile::before {
        display: none;
    }

    .gallery {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .gallery-list {
        grid-template-columns: 1fr;
    }

    .gallery-list img {
        width: 100%;
    }
}